.skills__container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}



.skills__title {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  text-align: center;
  margin-bottom: var(--mb-1-5);
}

.skills__box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Adapt number of columns */
  gap: 1rem;
}



.skills__data {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.skills .bx-badge-check {
  font-size: 1rem;
  color: var(--title-color);
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__level {
  font-size: var(--tiny-font-size);
  margin-left: 0.5rem;
}



.skills__group {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Creates a responsive number of columns */
  gap: 1rem;
}

.skills__content {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 1.25rem;
  max-width: 650px;
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* Removing max-height to allow for the smallest height possible */
}


@media screen and (max-width: 992px) {
  .skills__container {
    justify-content: center;
  }
  .skills__content {
    padding: 2rem;
    max-width: none;
  }
}

@media screen and (max-width: 576px) {
  .skills__container {
    flex-direction: column;
  }
  .skills__content {
    padding: 1.5rem;
  }
  .skills__group {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

@media screen and (max-width: 350px) {
  .skills__group {
    grid-template-columns: 1fr; /* Stack skills in a single column on very small screens */
  }
}

